* {
  border-radius: 10px;
}
body {
  /* display: inline; */
  display: flex;
  flex-wrap: wrap;
}
.word {
  float: left;
  /* margin: 3px; */
  transform: rotate(-5deg);
  background-color: antiquewhite;
}
.ignore {
  margin: 0;
  padding: 0;
}
